sudo: required
services:
  - docker

before_install:
  - docker build -t ssurabhip/docker-react -f Dockerfile.dev .

script:
  - docker run -e CI=true ssurabhip/docker-react npm run test

#deploy:
#  provider: elasticbeanstalk
#  region: 
